.brands {
  min-height: 500px;
  background-image: url(../assets/bg_wood.jpg);
  .inner {
    max-width: 748px;
    margin: 0 auto;
    padding: 15vh 15px 0 15px;
    h2 {
      text-align: center;
      font-size: 34px;
      color: #0B8A97;
      text-transform: uppercase;
    }
    .brand-logo {
      display: inline-block;
      width: 100px;
      height: 58px;
      margin: 16px 5px 16px 5px;
    }
  }
}
