.brands {
  height: 500px;
  background-image: url(../assets/bg_wood.jpg);
  .inner {
    max-width: 748px;
    margin: 0 auto;
    padding-top: 15vh;
    h2 {
      text-align: center;
      font-size: 34px;
      color: #0B8A97;
      text-transform: uppercase;
    }
    .brand-logo {
      display: inline-block;
      width: auto;
      height: 58px;
      margin: 16px 14px 16px 0;
    }
  }
}
