header {
  z-index: 4;
  &.mini {
    position: absolute;
    .header-container {
      opacity: 0.5;
    }
    nav {
      display: none;
    }
  }
  &.clone {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-100%);
    transition: 0.2s transform cubic-bezier(.3,.73,.3,.74);
  }
  ul {
    list-style: none;
    li {
      display: inline-block;
    }
  }
}

body.down header.clone {
    transform: translateY(0);
    background: rgba(242,242,240,0.8);
    .header-container {
      max-width: 748px;
      margin: 0 auto;
      .logo {
        width: 247px;
        margin: 0 auto;
        img {
          height: 115px;
        }
      }
      nav {
        text-align: center;
        a {
          text-transform: uppercase;
          color: #000;
          font-size: 17px;
          font-weight: bold;
          // width: 14%;
          // display: inline-block;
          &:hover {
            color: #0096B4;
            transition: color 0.2s;
          }
        }
      }
    }
}

@media screen and (max-width: 600px) {
  body.down header.clone .header-container {
    .logo {
      width: 130px;
      img {
        height: 68px;
      }
    }
    nav {
      margin: 0;
      padding: 0;
      a {
        display: block;
        padding: 1.5em 4em 1.5em 3em;
        text-transform: uppercase;
        text-decoration: none;
      }
      ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: none;
        &.closed {
          display: block;
          height: 413px;
        }
        li {
          border-bottom: 1px solid #0B8A97;
          display: block;
          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
    .menu-toggle {
      position: absolute;
      padding: 0.8em;
      top: 24px;
      right: .5em;
      cursor: pointer;
      .hamburger, .hamburger::before, .hamburger::after {
        content: '';
        display: block;
        background: #000;
        height: 3px;
        width: 2em;
        border-radius: 3px;
        -webkit-transition: all ease-in-out 350ms;
        transition: all ease-in-out 350ms;
      }
      .hamburger::before {
        -webkit-transform: translateY(-7px);
        transform: translateY(-7px);
      }
      .hamburger::after {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
      }
      .open .hamburger {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      .open .hamburger::before { display: none; }
      .open .hamburger::after {
        -webkit-transform: translateY(-1px) rotate(-90deg);
        transform: translateY(-1px) rotate(-90deg);
      }
    }
  }
}
