.intro-container {
  height: 100vh;
  width: 100%;
  position: relative;
  .intro-button {
    height: 60px;
    width: 200px;
    max-width: 180px;
    text-align: center;
    position: relative;
    left: 15%;
    bottom: 30%;
    padding: 0;
    background: rgba(255,255,255,0.8);
    border: none;
    z-index: 4;
    &.continue {
      bottom: 20%;
    }
    a {
      padding: 20px;
      display: block;
      height: 100%;
      width: 100%;
      h2 {
        font-size: 20px;
        font-weight: 600;
        color: #0B8A97;
      }
    }
  }
}
