.intro-container {
  height: 100vh;
  width: 100%;
  position: relative;
  .intro-overlay {
    position: absolute;
    background: rgba(166,154,152,0.4);
    height: 100%;
    width: 100%;
    top: 0;
  }
  .buttons {
    width: 100px;
    height: 100px;
    z-index: 3;
    position: absolute;
    bottom: 30px;
    left: auto;
    right: 50%;
  }
}
